name: Grid snake

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '0 */6 * * *' # Runs on the 0, 6, 12 and 18th hour.

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: generate github-contribution-grid-snake.svg
        uses: Platane/snk@v3.1.0
        with:
          github_user_name: hoangtien2k3qx1
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark
        env:
          # a GitHub token is required to fetch the contribution calendar from GitHub API
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull
        run: git pull origin main

      - uses: stefanzweifel/git-auto-commit-action@v4.15.1
        with:
          commit_message: "[Grid snake]"
          file_pattern: 'dist/*.svg'
          commit_user_name: hoangtien2k3qx1
          commit_user_email: hoangtien2k3qx1@gmail.com # defaults to "github-actions[bot]@users.noreply.github.com"
          commit_author: Hoàng Anh Tiến <hoangtien2k3qx1@gmail.com> # defaults to author of the commit that triggered the run